@{
    ViewBag.Title = "Home Page";
}
<!-- Main content Start -->
<div class="main-content">
    <!-- Slider Start -->
    <div id="rs-slider" class="rs-slider slider3">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img src="~/Content/Img/Wasega.jpg" alt="" title="#slide-1" />
            </div>
            <!-- Slide 1 -->
            <div id="slide-1" class="slider-direction">
                <div class="container">
                    <div class="content-part text-center">
                        <div class="slider-des">
                            <div class="sl-subtitle"></div>
                            <h1 class="sl-title white-color">Exclusive Access <br /> Pricing & Incentives</h1>
                        </div>
                        <div class="slider-bottom">
                            <ul>
                                <li><a href="@Url.Action("About","Home")"target="_blank" class="readon">Click Here To Register Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider End -->
    <!-- Services Section Start -->
    <div id="rs-services" class="rs-services style3 pt-100 pb-100 md-pt-72 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-5 pr-70 md-mb-50">
                    <div class="sec-title">
                        <div class="sub-title right-line primary">OPPORTUNITY</div>
                        <h2 class="title">GREAT INVESTMENT OPPORTUNITY</h2>
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 mb-30">
                            <div class="service-wrap mb-30">
                                <div class="icon-part">
                                    <img src="~/Content/assets/images/services/icons/modify/1.png" alt="">
                                </div>
                                <h5 class="title"><a href="#">PRE CONSTRUCTION SALE !</a></h5>
                                <div class="desc">
                                    Assignement Clause
                                    Avaliable.
                                    <br />
                                    9 Foot Ceiling Main.
                                </div>
                            </div>
                            <div class="service-wrap">
                                <div class="icon-part">
                                    <img src="~/Content/assets/images/services/icons/modify/2.png" alt="">
                                </div>
                                <h5 class="title"><a href="#">Two Story Town House With Front & Backyards</a></h5>
                                <div class="desc">
                                    3 BEDROOM
                                    <br />
                                    2.5 WASHROOMS
                                    <br />
                                    1500-1800 SqFt
                                </div>
                            </div>
                           
                        </div>
                        <div class="col-md-6 mt-50 sm-mt-0">

                            <div class="service-wrap mb-30">
                                <div class="icon-part">
                                    <img src="~/Content/assets/images/services/icons/modify/8.png" alt="">
                                </div>
                                <h5 class="title"><a href="#">FROM HIGH 700K</a></h5>
                                <div class="desc">
                                    Deposit $ 10,000.00 on Signing.
                                    <br />
                                    Balance of 5% in 30 Days.
                                    <br />
                                    5% in 16 Months Broken Up in Smaller Payments.
                                    <br />
                                    5% On Occupancy.
                                    <br />
                                    15% Total.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section End -->
    <!-- Project Section Start -->
    <div id="rs-project" class="rs-project gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 pr-0 md-mb-30">
                    <div class="left-image">
                        <img class="bdru-40" src="~/Content/Img/Himg.jpeg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pl-70 md-pl-15">
                    <div class="sec-title mb-35">
                        <div class="sub-title primary">SITE ADDRESS</div>
                        <p>
                            3 Minutes From The Beach
                            <br />
                            Intersection River Road And Ansley Road
                        </p>
                    </div>
                    <div class="sec-title mb-35">
                        <div class="sub-title primary">TENTATIVE CLOSING</div>
                        <p>
                            Late 22 / Early 23
                        </p>
                    </div>
                    <div class="sec-title mb-35">
                        <div class="sub-title primary">DEPOSIT</div>
                        <p>
                            Deposit $ 10,000.00 on Signing.
                            <br />
                            Balance of 5% in 30 Days.
                            <br />
                            5% in 16 Months Broken Up in Smaller Payments.
                            <br />
                            5% On Occupancy.
                            <br />
                            15% Total.
                        </p>
                    </div>
                    
                    <div class="btn-part mt-60">
                        <a class="readon" href="@Url.Action("About","Home")" target="_blank">Submit WorkSheet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Section End -->
    <!-- Blog Section Start -->
    @*<div id="rs-blog" class="rs-blog style1 modify2 pt-98 pb-72 md-pt-72 md-pb-52">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-12">
                    <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="2" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="2" data-lg-device="2" data-md-device-nav="false" data-md-device-dots="false">
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Floorplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Floor Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Features & Finishes</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Siteplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Site Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Amenities</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Floorplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Floor Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Features & Finishes</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Siteplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Site Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Amenities</a>
                                </div>
                            </div>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>*@
    <!-- Blog Section End -->
    <div class="btn-part mt-60 text-center">
        <a class="readon" href="https://calendly.com/wasagatowns/experiment1et" target="_blank">Book Your Appointment Here</a>
    </div>
    <div id="rs-services" class="rs-services style3 pt-100 pb-100 md-pt-72 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-12 text-center">
<div class="row">
                        <div class="col-md-12 mb-30">
                            <h4 class="text-center col-md-12">**Property is under construction or to be built!;Some Changes By the Builder May be Necessary**</h4>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h2 class="text-center col-md-12 text-primary">What is a <u>PRE CONSTRUCTION</u> Home?</h2>
                            <p align="justify">
                                What is a Pre-construction Home?
                                <br />
                                A pre-construction home is a house you buy before it is constructed. You have your choice of homes, including:
                                <br />
                                <b>High-rise condos</b>
                                <br />
                                <b>Low-rise condos</b>
                                <br />
                                <b>Detached houses</b>
                                <br />
                                <b>Semi-detached houses</b>
                                <br />
                                <b>Townhouses</b>
                                <br />
                                For a condo development, you’ll be buying a home off of blueprints or a 3D computer rendering that provides a simulated walk through. For houses, you’re usually able to visit a model home that sits on the lot of the future development. Although model homes tend to be extremely aspirational in their decor, this is a better way to get a more realistic look at what you’ll be buying.
                                <br />
                                <b>The Benefits of Pre-construction Homes</b>
                                So, what’s the big attraction of the pre-construction home? There are quite a few benefits, including:
                                <br />
                                <b>Warranty</b>
                                <br />
                                The warranty programs in Canada offer protection for new build homes, including things such as delays in occupancy and closing coverage, protection for your deposit, and the cost of repairs should there be issues in the construction of your home once you move in.
                                <br />
                                <b>Value</b>
                                <br />
                                While your home is being built, it is almost guaranteed to rise in value.
                                <br />
                                <b>No Bidding Wars</b>
                                <br />
                                Depending on where you’re shopping for your home, bidding wars can really knock up the price. When inventory is low, buyers are desperate, and the more attractive the home and neighbourhood, the more chance there is you could end up paying an inflated price for a resale home. When it comes to pre-construction, you’re looking at a set price. You’ll know exactly how much you’ll be paying, usually at fair market value.
                                <br />
                                <b>Designer Home</b>
                                <br />
                                You have the option of designing your home with plenty of upgrades available. You’ve not only got upgrades for things such as kitchen counters and flooring but can also often make structural upgrades including adjusting some floor plan options. Because you’re making all your decisions for changes during the building process, they are far more affordable than a reno or upgrade once you move in. You can make smart decisions that will increase the resale value of your home.
                                <br />
                                <b>Lower Condo Fees</b>
                                <br />
                                When buying pre-construction condos, the condo fees are lower in new builds than resale condos. That is because everything is new, and the management has yet to see how much it costs to operate the building or property.
                                <br />
                                <b>Flexible Deposits and Down Payments</b>
                                <br />
                                Although you tend to need more for a deposit or down payment for pre-construction, the payment is staggered. You have time to keep saving as there is a small amount paid up front, and then the rest is paid on a schedule that leads up to the final closing.
                                <br />
                                <b>Better Choices</b>
                                <br />
                                You’ll have more choices when buying pre-construction compared to resale condos such as the floor of the unit and the location (i.e., a corner unit or a better view).
                                <br />
                                <b>10-Day Cooling Off Period</b>
                                <br />
                                You’ll have 10 days to “cool off” and reconsider your purchase. During this time, you can arrange for financing and also have a lawyer review the agreement. Should you change your mind or find something in the agreement you don’t like, you can get your full deposit back and walk away.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
    </div>


    </div>
    </div>
<!-- Main content End -->