@{
    ViewBag.Title = "Home Page";
}
<!-- Main content Start -->
<div class="main-content">
    <!-- Slider Start -->
    <div id="rs-slider" class="rs-slider slider3">
        <div class="bend niceties">
            <div id="nivoSlider" class="slides">
                <img src="~/Content/assets/images/slider/h3-sl1.jpg" alt="" title="#slide-1" />
            </div>
            <!-- Slide 1 -->
            <div id="slide-1" class="slider-direction">
                <div class="container">
                    <div class="content-part text-center">
                        <div class="slider-des">
                            <div class="sl-subtitle">Wasaga Beach</div>
                            <h1 class="sl-title white-color">First Access <br /> Pricing & Incentives</h1>
                        </div>
                        <div class="slider-bottom">
                            <ul>
                                <li><a href="#" class="readon">Click Here To Register Now</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Slider End -->
    <!-- Services Section Start -->
    <div id="rs-services" class="rs-services style3 pt-100 pb-100 md-pt-72 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-5 pr-70 md-mb-50">
                    <div class="sec-title">
                        <div class="sub-title right-line primary">Services</div>
                        <h2 class="title">What's Services We Are Offering to Our Customers</h2>
                        @*<p class="desc mb-36">Reobiz hinc sapientem eam, has novum putent anatai sit definiebas concludaturque, cum ad sanctus intro ocurreret. Wisi eruditi democritum est an, porro linked noluisse ut pri, ne tantas essent .</p>*@
                        @*<a class="readon" href="#">View All Services</a>*@
                    </div>
                </div>
                <div class="col-lg-7">
                    <div class="row">
                        <div class="col-md-6 mb-30">
                            <div class="service-wrap mb-30">
                                <div class="icon-part">
                                    <img src="~/Content/assets/images/services/icons/modify/1.png" alt="">
                                </div>
                                <h5 class="title"><a href="#">ASSIGNMENT SALE !</a></h5>
                                <div class="desc">
                                    SINGLE DETACHED HOME
                                    ﻿IN OSHAWA.
                                </div>
                            </div>
                            <div class="service-wrap">
                                <div class="icon-part">
                                    <img src="~/Content/assets/images/services/icons/modify/8.png" alt="">
                                </div>
                                <h5 class="title"><a href="#">Asking Price $950,000</a></h5>
                                <div class="desc">
                                    (36' LOT | 1,540 SQFT)

                                    Deposit $100,000
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mt-50 sm-mt-0">
                            <div class="service-wrap mb-30">
                                <div class="icon-part">
                                    <img src="~/Content/assets/images/services/icons/modify/2.png" alt="">
                                </div>
                                <h5 class="title"><a href="#">DOUBLE CAR GARAGE</a></h5>
                                <div class="desc">
                                    3 BEDROOM + 2.5 BATH

                                    EXCLUSIVE LISTING*
                                    ONLY FOR BUYERS*

                                    NO REALTORS PLEASE!
                                </div>
                            </div>
                            @*<div class="service-wrap">
                                    <div class="icon-part">
                                        <img src="~/Content/assets/images/services/icons/modify/8.png" alt="">
                                    </div>
                                    <h5 class="title"><a href="#">Cryptocurrency</a></h5>
                                    <div class="desc">We always provide people a complete solution focused of any business.</div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Services Section End -->
    <!-- Project Section Start -->
    <div id="rs-project" class="rs-project gray-bg pt-100 pb-100 md-pt-80 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-6 pr-0 md-mb-30">
                    <div class="left-image">
                        <img class="bdru-40" src="~/Content/Img/Himg.jpg" alt="">
                    </div>
                </div>
                <div class="col-lg-6 pl-70 md-pl-15">
                    <div class="sec-title mb-35">
                        <div class="sub-title primary">SITE ADDRESS</div>
                        <p>
                            Shankel Rd & Townline Rd N, Oshawa
                            Close to all the main Amenities
                            Between Hwy 401 and 407
                        </p>
                    </div>
                    <div class="sec-title mb-35">
                        <div class="sub-title primary">TENTATIVE CLOSING</div>
                        <p>
                            March 2022
                        </p>
                    </div>
                    <div class="sec-title mb-35">
                        <div class="sub-title primary">DEPOSIT</div>
                        <p>
                            Total $100,000
                        </p>
                    </div>
                    <h4>Mortgage Pre Approval Letter Required*</h4>
                    <div class="btn-part mt-60">
                        <a class="readon" href="#">Submit WorkSheet</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Project Section End -->
    <!-- Blog Section Start -->
    <div id="rs-blog" class="rs-blog style1 modify2 pt-98 pb-72 md-pt-72 md-pb-52">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-12">
                    <div class="rs-carousel owl-carousel dot-style1" data-loop="true" data-items="2" data-margin="30" data-autoplay="true" data-hoverpause="true" data-autoplay-timeout="5000" data-smart-speed="800" data-dots="false" data-nav="false" data-nav-speed="false" data-center-mode="false" data-mobile-device="1" data-mobile-device-nav="false" data-mobile-device-dots="false" data-ipad-device="2" data-ipad-device-nav="false" data-ipad-device-dots="false" data-ipad-device2="1" data-ipad-device-nav2="false" data-ipad-device-dots2="false" data-md-device="2" data-lg-device="2" data-md-device-nav="false" data-md-device-dots="false">
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Floorplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Floor Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Features & Finishes</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Siteplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Site Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Amenities</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Floorplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Floor Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Features & Finishes</a>
                                </div>
                            </div>
                        </div>
                        <div class="blog-wrap">
                            <div class="img-part">
                                <img src="~/Content/Img/Siteplan.jpg" alt="">
                            </div>
                            <div class="content-part">
                                <h3 class="title text-center">Site Plan</h3>
                                <div class="btn-part mt-60 text-center">
                                    <a class="readon" href="#">View Amenities</a>
                                </div>
                            </div>
</div>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Blog Section End -->
    <div class="btn-part mt-60 text-center">
        <a class="readon" href="https://calendly.com/wasagatowns/experiment1et" target="_blank">Book Your Appointment Here</a>
    </div>
    <div id="rs-services" class="rs-services style3 pt-100 pb-100 md-pt-72 md-pb-80">
        <div class="container">
            <div class="row y-middle">
                <div class="col-lg-12 text-center">
<div class="row">
                        <div class="col-md-12 mb-30">
                            <h4 class="text-center col-md-12">**This is an Assignment Sale. Dimensions as per Builder Plan. No Showings allowed; Property is under construction or to be built!**</h4>
                        </div>
                        <div class="col-md-12 mb-30">
                            <h1 class="text-center col-md-12 text-primary">What Does an Assignment Sale Mean?</h1>
        <p>
                                An assignment is a sales transaction where the original buyer of a property (the “assignor”) allows another buyer (the “assignee”) to take over the buyer’s rights and obligations of the Agreement of Purchase and Sale, before the original buyer closes on the property (that is, where they take possession of the property). The assignee is the one who ultimately completes the deal with the Builder. In other words, an assignment clause allows the buyer of a home to sell the place before they take possession of it.

                                The Buyer of an assignment is essentially stepping into the shoes of the original purchaser. The original purchaser is considered to be the Assignor; the new Buyer is the Assignee. The Assignee is the one who will complete the final sale with the Builder.

                                We are advising to the Assignor and the Assignee to seek third party advice regarding the Taxes, the HST, legal and the inspection of the property.
        </p>
                        </div>

                    </div>
                </div>
            </div>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>

    </div>
<!-- Main content End -->